Django==3.2.9
asgiref==3.4.1
cffi==1.15.0
cryptography==36.0.0
django-js-asset==1.2.2
django-rest-knox==4.1.0
djangorestframework==3.12.4
pip==21.3.1
psycopg2==2.9.2
pycparser==2.21
pytz==2021.3
setuptools==57.0.0
sqlparse==0.4.2
wheel==0.36.2